FORMAT: 1A
HOST: http://api.britishgas.co.uk/v1

# Product Bundle Orders

# Data structures

## Data (object, fixed)
- `id`: 1234 (string) - Entity Id
- `type` (string) - Entity type

## Links (object)
- `self` (string)
- `related` (string)

## Relationship (object)
- `data` (Data) - Data of an entity relationship

## ProductBundles (object)
+ jsonapi (object)
   + version: 1.0 (string, required) - version of the json api specifications.
+ data (Bundles)

## Allowance (object)
+ code: AW002 (string, required) - code of allowance type
+ name: £500.00 off your powerflush (string, required) - name of allowance
+ amount: 500.00 (string, required) - price of allowance

## Extra (object)
+ code: AW002 (string, required) - code of extra's.
+ name: Powerflush (string, required) - name of extra's.
+ amount: 500.00 (string, required) - price of extra's.
+ required: false (boolean, required) - need of extra's.

## Bundles (object)
+ is-address-used: `true` (boolean, required) - true if already product bundle assingned for address otherwise false
+ bundles: null (array[Bundle], optional) - list of allowed bundles if is-addresss-used is false otherwise null

## Bundle (object)
+ `id`: 002 (string, required) - id of bundle.
+ `boile-code`: CBLR0002 (string, required) - code of bundle.
+ `boiler-name`: Valiant ecoTech plus combi boiler (string, required) - name of boiler
+ `total-gross-price`: 2599.00 (string, optional) - total gross price of bundle
+ `total-bundle-Price`: 2599.00 (string, optional) - total price of bundle
+ `total-price-after-discount`: 1899.00 (string, optional) - total price of bundle after discount
+ `total-discount`: 700.00 (string, optional) - total discount of bundle
+ `boiler-price`: 1149.00 (string, optional) - price of boiler
+ `installation-price`: 1114.00 (string, optional) - price of bundle installation
+ `extras` (Extra) (array[Extra], optional) - Extras with bundle product
+ `allowances` (Allowance) (array[Allowance], optional) - allowances of bundle

## LeadResponse (object)
+ `lead-reference`: 123456 (string, required)
+ `redirect-link`:`http://sample.redirect.com` (string, optional) - Reason for failure
+ `token`: `RES1234` (string, optional) - Reason for failure
+ `status`: `success` (string, optional) - Reason for failure

## BundleLeadResponse (object)
+ jsonapi (object)
   + version: 1.0 (string, required) - version of the json api specifications.
+ data (LeadResponse)

## Error (object)
+ id: `1528785614271`
+ detail: `error.client.bundle-details-not-found`
+ status : `404`

## ErrorResponse (object)
+ jsonapi (object)
   + version: 1.0 (string, required) - version of the json api specifications.
+ errors (array, required) - data format in fetch product catalogue will be returned.
   + (Error)

## Group Find Product Bundle For addess
Find the available product bundle details for given address 


## Verify Address  [GET /product-bundles/{id}]
> To Verify if addess has any existing bundle associated.

+ Parameters

    + id: `123456` (string) - Id of selected address

+ Request get bundles

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json
            
+ Response 200 (application/vnd.api+json)

    + Body

            {
              "jsonapi": {
                "version": "1.0"
              },
              "data": {
                "id": "12345",
                "type": "Bundles",
                "attributes": {
                  "is-address-used": true,
                  "bundles": []
                    
                }
              }
            }
   

+ Request `invalid X-Client-ID`

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json

+ Response 403 (application/vnd.api+json)

   + Attributes (ErrorResponse)
      + errors (array)
         + (Error)
               + detail: `X-Client-ID not supplied!`
               + status: 403

+ Request backend failure

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json

+ Response 424 (application/vnd.api+json)

   + Attributes (ErrorResponse)
      + errors (array)
         + (Error)
               + detail: dependency failure
               + status: 424


+ Request wrong bundle details passed in the request

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json
            identity-bundle: {"postcode": SK4 4HG, "bundles": [bundle1,bundle2], "isHomeCare": "Yes", "isPowerFlush": "Yes","extras":"[extra1,extra2]"}

+ Response 200 (application/vnd.api+json)

    + Body

            {
                "jsonapi": {
                    "version": "1.0"
                },
                "errors": [
                    {
                        "detail": "unable to book an appointment",
                        "id": "1559902487086",
                        "status": "500"
                    }
                ]
            }
   

+ Request `invalid X-Client-ID`

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json

+ Response 403 (application/vnd.api+json)

   + Attributes (ErrorResponse)
      + errors (array)
         + (Error)
               + detail: `X-Client-ID not supplied!`
               + status: 403

+ Response 400 (application/vnd.api+json)

    + Attributes (object)
        + jsonapi (object)
            + version: 1.0 (string) - version of the json api specificaiton.
        + errors (array)
            + (object)
               + id: 1467732747181 (string, required) - a unique identifier for this particular occurrence of the problem.
               + detail: `error.bundle.not.found` (string) - a human-readable explanation specific to this occurrence of the problem.
               + status: 400 (string) - the HTTP status code applicable to this problem, expressed as a string value.




##Get Bundle Details [GET /product-bundles]
> To retrieve eligible bundles for given addresss and passed required details in header.

+ Request get bundles

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json
            identity-bundle: {"postcode": SK4 4HG, "bundles": [bundle1,bundle2], "isHomeCare": "Yes", "isPowerFlush": "Yes","extras":"[extra1,extra2]"}

+ Response 200 (application/vnd.api+json)

    + Body

            {
              "jsonapi": {
                "version": "1.0"
              },
              "data": {
                "id": "12345",
                "type": "Bundles",
                "attributes": {
                  "is-address-used": true,
                  "bundles": [
                    {
                      "id": "001",
                      "boilecode": "CBLR0002",
                      "boilerName": "Valiant ecoTech plus combi boiler",
                      "totalBundlePrice": "2599.00",
                      "boilerPrice": "1149.00",
                      "installPrice": "1114.00",
                      "optionalExtras": [
                        {
                          "name": "Powerflush",
                          "amount": "260.00",
                          "code": "PF001",
                          "required": "false"
                        },
                        {
                          "name": "Thermostats",
                          "amount": "260.00",
                          "code": "PF002",
                          "required": "false"
                        }
                      ],
                      "allowances": [
                        {
                          "name": " £200.00 Homecare loyalty engineer discount",
                          "amount": "200.00",
                          "code": "AW004"
                        },
                        {
                          "name": " £50.00 off your powerflush",
                          "amount": "50.00",
                          "code": "AW002"
                        },
                        {
                          "name": "£50.00 off your magnetic system fiter",
                          "amount": "50.00",
                          "code": "AW003"
                        }
                      ]
                    },
                    {
                      "id": "002",
                      "boilecode": "CBLR0002",
                      "boilerName": "Valiant ecoTech plus combi boiler",
                      "totalBundlePrice": "2599.00",
                      "boilerPrice": "1149.00",
                      "installPrice": "1114.00",
                      "optionalExtras": [
                        {
                          "name": "Powerflush",
                          "amount": "260.00",
                          "code": "PF001",
                          "required": "false"
                        }
                      ],
                      "allowances": [
                        {
                          "name": " £200.00 Homecare loyalty engineer discount",
                          "amount": "200.00",
                          "code": "AW004"
                        },
                        {
                          "name": " £50.00 off your powerflush",
                          "amount": "50.00",
                          "code": "AW002"
                        },
                        {
                          "name": "£50.00 off your magnetic system fiter",
                          "amount": "50.00",
                          "code": "AW003"
                        }
                      ]
                    }
                  ]
                }
              }
            }
   

+ Request `invalid X-Client-ID`

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json

+ Response 403 (application/vnd.api+json)

   + Attributes (ErrorResponse)
      + errors (array)
         + (Error)
               + detail: `X-Client-ID not supplied!`
               + status: 403

## Group Create Bundle Order
Confirm the product bundle and create the order or booking reference.

# Confirm Bundle Orders [`bundle-order`]

# Confirm Bundle Orders [POST /bundle-order]

+ Request create bundle order 

   + Headers

            x-client-id: `cbdcfa43-dd67-4c38-b418-83572a936fca`
            content-type: application/vnd.api+json

    + Body

                {
                  "data": {
                    "type": "Bundle",
                    "attributes": {
                      "as-best-of-identified": "I am not Sure",
                      "lead-channel": "Online",
                      "residence-status": "Owner",
                      "product-interest": "Online Boiler",
                      "is-home-care": "true",
                      "is-power-flush": "true",
                      "fuelType": "Gas"
                    },
                    "relationships": {
                      "address": {
                        "data": {
                          "id": "12334456",
                          "type": "addresses"
                        }
                      },
                      "customer": {
                        "data": {
                          "type": "customers",
                          "id": "3612094486"
                        }
                      }
                    }
                  }
                }
                  

    

+ Response 201 (application/vnd.api+json)

   + Body

            {
               "data":{
                  "id":"3214324454325",
                  "type":"appointments",
                  "attributes":{
                     "lead-reference":"1234456",
                     "redirect-link":"https://redirect.com",
                     "token":"ER12345",
                     "status":"success"
                  }
               }
            }

+ Request `invalid X-Client-ID`

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json

+ Response 403 (application/vnd.api+json)

   + Attributes (ErrorResponse)
      + errors (array)
         + (Error)
               + detail: `X-Client-ID not supplied!`
               + status: 403

+ Request backend failure

   + Headers

            x-client-id: cbdcfa43-dd67-4c38-b418-83572a936fca
            content-type: application/vnd.api+json

+ Response 424 (application/vnd.api+json)

   + Attributes (ErrorResponse)
      + errors (array)
         + (Error)
               + detail: dependency failure
               + status: 424